lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

.DS_store

*.sublime-project
*.sublime-workspace

main-built.js
/src/client/app/main-built.js

node_modules/phantomjs/
node_modules/.bin/phantomjs/