/* #projects h2 {
  font-size: 2em;
  line-height: 2em;
  font-weight: bold;
  text-align: center;
  padding: 0.2em 2em;
  background-color: rgba(0, 0, 0, 0.253);
} */

/* .projects-container {
  width: 100%;
  /* padding: 1em; 
  position: relative;
} */

.projects-container .btn {
  display: block;
  padding: 0.6em;
  margin: 1em auto;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.253);
  cursor: pointer;
  transition: background-color 0.5s linear;
}

.project-tags {
  display: flex;
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project-tags > .btn {
  flex: 0 0 auto;
  margin: 1rem 0.5rem;
  text-decoration: none;
}

.project-tags > .active {
  background-color: rgba(255, 255, 255, 0.671);
  color: #000;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  row-gap: 1.5em;
  column-gap: 1em;
}

.project {
  height: 225px;
  width: 150px;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.253);
}

.project:hover:not(.project-expanded),
.project-tags > .btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.253);
}

.project h3 {
  flex: 0 0 2.5rem;
  display: flex;
  align-items: flex-end;
}

.project-icon {
  flex: 1 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project img {
  width: 128px;
  height: 130px;
  width: 128px;
  height: 130px;
  align-self: center;
  justify-self: center;
}

.project .project-title {
  display: block;
  font-weight: normal;
  width: 100%;
  text-align: center;
}

.project.project-expanded {
  grid-column: 1 / -1;
  order: -1;
  width: 100%;
  height: auto;
  min-height: auto;
  flex-direction: column;
  align-items: flex-start;
  cursor: default;
  position: relative;
  z-index: 20;
  padding: 1rem;
}

.project.project-expanded h3 {
  flex: 0 0 auto;
  font-size: 2rem;
  text-align: left;
  width: auto;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.project.project-expanded .project-icon {
  flex: 0 0 auto;
  margin-bottom: 1rem;
}

.project.project-expanded p {
  margin-top: 1em;
}

.project.project-expanded img {
  max-width: 128px;
  max-height: 130px;
  display: block;
}
