.modal-backdrop 
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    z-index 1040
    background-color #000


.modal-backdrop.fade 
    opacity 0
    filter 'alpha(opacity=0)'


.modal-backdrop.in 
    opacity .5
    filter 'alpha(opacity=50)'


.carousel.slide, .carousel-inner, .carousel-inner .item
    height 500px


img.lightbox-img
    margin auto
    width auto!important
    height auto!important
    max-width 500px!important
    max-height 500px!important


.carousel-caption
    background-color rgba(0, 0, 0, 0.53)