body::before {
  position: fixed;
  display: block;
  width: 100%;
  height: 100vh;
  color: #fff;
  content: '';
  z-index: -1;
  /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
  background: linear-gradient(-45deg, rgb(110, 7, 194), #23a6d5, #23d5ab);
  /* background: linear-gradient(-45deg,  rgb(70, 17, 114), rgb(17, 114, 90), rgb(17, 35, 114)); */
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


section {
  min-height: 100vh;
  width: 100%;
  color: #fff;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* background-color: #222222; */
  max-width: 100vw;
}

::selection {
  background-color: #403f4c;
  /* color: #fff; */
}

a:link,
a:visited,
a:active {
  color: #fff;
}
a:hover {
  color: #ddd;
  /* background-color: rgba(255, 255, 255, 0.137); */
}
a:active {
  color: #fff;
}

em {
  font-style: italic;
}

:root  {
  --intro-offset: 3rem;
}

#intro {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(var(--intro-offset) * -1);
  margin-bottom: var(--intro-offset);
  /* background-color: #222222; */
}

#jumbotron {
  font-size: 4.2vmax;
  font-weight: 300;
  line-height: 1.5em;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.4);
  /* border-radius: 1rem; */
  padding: 2rem;
}

@media only screen and (max-width: 600px) {
  #jumbotron {
    font-size: 4vmax;
  }
}

#jumbotron .name {
  color: rgb(255, 41, 187);
  font-weight: 300;
}
/* .subtitle { font-style: italic; } */
.subtitle-react {
  color: #24b2c1;
  font-weight: 300;
}
.subtitle-node {
  color: #a9d642;
  font-weight: 300;
}
.subtitle-aws {
  color: #f49e58;
  font-weight: 300;
}

#about {
  width: 100%;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.4);
  min-height: inherit;
  margin-bottom: 20vh;
}

#about h2 {
  font-size: 2em;
  line-height: 2em;
}

#about p {
  margin-top: 1em;
  max-width: 1000px;
}

#about ul.list {
  list-style: disc;
  list-style-position: inside;
}

#about ul {
  margin-top: 1rem;
  max-width: 600px;
}

#about ul.link-list li {
  display: inline-block;
  margin-right: 1em;
}
