body::before {
  position: fixed;
  display: block;
	width: 100%;
	height: 100vh;
  color: #fff;
  content: '';
  z-index: -1;
	/* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
	background: linear-gradient(-45deg,  rgb(110, 7, 194), #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

section {
  min-height: 100vh;
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #222222; */
}

#intro {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #222222; */
}

#jumbotron {
  width: auto;
  font-size: 4.3vw;
  font-weight: 300;
  line-height: 1.5;
  background-color: rgba(0, 0, 0, 0.45);
  border-radius: 1rem;
  padding: 2rem;
}

#jumbotron .name {
  color: #E4745B;
}

.subtitle-react { color: #24B2C1 }
.subtitle-node { color: #A9D642 }
.subtitle-aws { color: #F49E58 }

#projects {
}