
#projects h2 {
  font-size: 2em;
  line-height: 2em;
  font-weight: bold;
  text-align: center;
  padding: 1em 2em;
  background-color: rgba(0, 0, 0, 0.253);
}

.projects {
  margin: 20px auto;
}

.projects-container {
  width: 100%;
  /* margin: 20px auto; */
}

.projects-container .btn {
  display: block;
  padding: .6em;
  margin: 1em auto;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.253);
}



.project-tags {
  width: 100%;
  padding: 1em;
}

.project {
  /* flex: 1 0 auto; */
  height: 225px;
  width: 150px;
  padding: 16px 0;
  background-color: rgba(0, 0, 0, 0.253);
  transition: width 1s ease;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-content: center;
}

.project.open {
  width: 600px;
  height: unset;
  display: unset;
  padding: 16px;
}

@media only screen and (max-width: 320px) {
  .project.open {
    width: 100%;
  }
}

@media only screen and (min-width : 321px) and (max-width : 767px) {
  .project.open {
    width: 100%;
  }
}
  

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .project.open {
    width: 100%;
  }
}

.project h3 {
  /* margin: 16px 0; */
  flex: 0 0 auto;
}

.project.open h3 {
  margin: 16px 0;
}

.project img {
  flex: 0 0 auto;
  max-width: 128px;
  max-height: 130px;
  margin: 0 auto;
  display: block;
}

.project.open img {
  margin: 0;
}

.project .project-title {
  display: block;
  font-weight: normal;
  width: 100%;
  text-align: center;
}

.project.open .project-title {
  text-align: inherit;
}

.project p {
  margin-top: 1em;
}
