@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600|Lato);

html,
body,
#root {
  font-family: 'Open Sans';
  font-size: 18px;
  line-height: 1.6em;
  width: 100%;
  overflow-x: hidden; /* wtf mobile? why you scroll? */
}

* {
  box-sizing: border-box;
}
