#projects h2 {
  font-size: 2em;
  line-height: 2em;
  font-weight: bold;
  text-align: center;
  padding: 0.2em 2em;
  background-color: rgba(0, 0, 0, 0.253);
}

.projects-container {
  width: 100%;
  padding: 1em;
  position: relative;
}

.projects-container .btn {
  display: block;
  padding: 0.6em;
  margin: 1em auto;
  color: #fff;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.253);
  cursor: pointer;
  transition: background-color 0.5s linear;
}

.project-tags {
  display: flex;
  width: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.project-tags > .btn {
  flex: 0 0 auto;
  margin: 1rem 0.5rem;
  text-decoration: none;
}

.project-tags > .active {
  background-color: rgba(255, 255, 255, 0.671);
  color: #000;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  row-gap: 1.5em;
  column-gap: 1em;
}

.project {
  /* flex: 1 0 auto; */
  height: 225px;
  width: 150px;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.253);
}

.project:hover:not(.open),
.project-tags > .btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.253);
}

.project h3 {
  /* margin: 16px 0; */
  flex: 0 0 auto;
}

.project img {
  flex: 0 0 auto;
  max-width: 128px;
  max-height: 130px;
  margin: 0 auto;
  display: block;
}

.project .project-title {
  display: block;
  font-weight: normal;
  width: 100%;
  text-align: center;
}

.project-selected p {
  margin-top: 1em;
}

.project-selected {
  position: absolute;
  top: 7rem;
  background-color: rgba(0, 0, 0, 0.253);
  padding: 1rem;
  right: 1rem;
  left: 1rem;
}

.project-selected h3 {
  font-size: 2rem;
}

.project-selected img {
  flex: 0 0 auto;
  max-width: 128px;
  max-height: 130px;
  margin: 0 auto;
  display: block;
}
